.container {
    display: flex;
    flex: 1;
    margin-right: 32px;
    margin-left: 32px;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 16px;
}
