.container {
    margin-bottom: 32px;
    margin-right: 32px;
    margin-left: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 16px;
    background-color: white;
    color: rgb(39, 101, 195);
    border: 2px solid rgb(39, 101, 195);
}
