.welcome-text{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top:32px ;
    margin-bot:16px;
}
.form-control{
    border:0px solid white;
    padding: .375rem .75rem;
}
label{
    margin-bottom: .3rem;
}
.form-label{
    font-size: .9rem;
    color: white;
}
.text-muted{
    color: rgb(226, 226, 226) !important;
    font-size: .7rem;
}

.register-button{
    width: 100% !important;
    color: #fff !important;
    background-color:#e53935 !important;
    border:0px !important; 
    border-radius: .5rem !important;
    text-transform: capitalize !important;

}
.register-button:hover
{
color: #fff !important;
background-color: #e53935 !important; 
border:0px !important; 
}


.custom-control-label{
    font-size: .9rem;
    color: white;

}
.custom-control-label:before{

    background-color:white;
    border:none !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#e53935;
    border:none !important;
    box-shadow: none;

  }

  .form-control:focus{
      border:none;
      box-shadow: none;
  }
  .form-container{
    background-color: #1976d2;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 32px;
}
.invalid-tooltip{
    position: relative;
    font-size: .8rem;
    color: #e53935;
    background-color: white;
}