.container-fluid{
    min-height: 100% !important;
    height: 100% !important;
    width: 100%;
}
.contents{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}

.card-container{
    margin:8px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
@media(max-width:767px){
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .card-container{
        width: 100%;
        margin: 0px;
    }
}

.card-details{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.signin-button{
    padding-left: 32px;
    padding-right: 32px;
    text-transform: capitalize !important;
    background-color: #1976d2 !important;
    color: white !important;
    min-width: 500px;
    max-width: 800px;
    margin-bottom: 16px;
}
.card-image{
    max-width: 500px;
}
.brand{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 32px;
}
.toc{
    position: absolute;
    bottom: 16px;
    font-size: .8rem;
    color: white;
    text-align: center;
}
.toc:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
}