.container {
    margin-bottom: 16px;
}

.formStyle {
    display: flex;
    flex-direction: column;
}

.textField {
    padding-top: 8px;
}

.img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
}

.btn {
    margin-bottom: 16px;
}
