
.text-muted{
    color: rgb(226, 226, 226) !important;
    font-size: .7rem;
}

.signupform-comp-register-button{
    width: 100% !important;
    color: #fff !important;
    background-color:#e53935 !important;
    border:0px !important; 
    border-radius: .5rem !important;
    text-transform: capitalize !important;
    height: 37px;

}
.signupform-comp-register-button:hover
{
color: #fff !important;
background-color: #e53935 !important; 
border:0px !important; 
}


.custom-control-label{
    font-size: .9rem;
    color: white;

}
.custom-control-label:before{

    background-color:white;
    border:none !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#e53935;
    border:none !important;
    box-shadow: none;

  }

  .form-container{
    background-color: #1976d2;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 32px;
}

.form-input{
    padding-left:16px;
    padding-right: 0px;
    background-color: white;
    border-radius: 5px;
}
.label222{
    
    color:white !important;
    font-size: .8rem !important;
    line-height: 1.2 !important;
    font-family: inherit !important;
    font-weight: 550 !important;
    letter-spacing: inherit !important;
}